.Spreadsheet__cell {
  position: relative;
  padding: 0 12px;
  height: 48px !important;
  max-width: 270px;
}
.Spreadsheet__cell,
.Spreadsheet__header {
  min-width: 3em !important;
}
.Spreadsheet__active-cell--edit {
  padding: 0 12px;
}
.Spreadsheet__active-cell--edit > * {
  height: 100%;
  width: 100%;
}
