a {
    text-decoration: none;
    color: rgba(136, 136, 136, 0.662);
    font-weight: 800;
}

a:hover {
    color: black;
}

.form-main{
    font-family: 'Sarabun', sans-serif;
    height: 100%;
}

/****TOP BOARD ****/
.logo-main {
    width: 115px;
    margin: 50px;
}

.sign-in {
    font-weight: 800;
}

/****TOP BOARD ****/


/****FORM****/
.form-outer {
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.form-group > input {
    width: 290px;
    height: 45px;
    border: 0px none;
    border-radius: 3px;
    background-color: rgba(236, 236, 236, 0.612);
    margin: 8px;
}

input::placeholder {
    font-size: 9.5px;
    font-weight: 800;
    padding-left: 13px;
    color:rgba(152, 152, 152, 0.91);
    text-transform: uppercase;
}

.error-box {
    position: absolute;
    background: white;
    top:130px;
    left: 54px;
    width: 240px;
    padding-top: 23px;
    padding: 23px 30px 10px 30px;
    height: 43px;
    z-index: 10;
    text-align: center;
    font-weight: 800;
    color: rgb(188, 14, 188);
    font-size: 12px;
    border-radius: 6px;
}

.error-box::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 10px solid transparent;
    right: 46%;
    bottom: -18px;
   }

.error-shadow:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 140px;
    right: 0;
    bottom: 0;
    left: 45px;
    width: 300px;
    height: 57px;
    background: linear-gradient(to top left, #070707 0%, #a3a3a3 50% );
    filter: blur(30px);
    opacity: var(0.7);
  }

  /****FORM****/
  
  /****LOGIN FINAL****/
  .login-btn {
    position: absolute;
    top: -3px;
    left: -3px;
    opacity: 0;
    width: 64px;
    height: 64px;
    border-radius: 19px;
  }

  .login-btn-container {
    border: 3px solid;
    position: absolute;
    /* top: 590px; */
    bottom: 80px;
    left: 170px;
    width: 58px;
    height: 58px;
    border-radius: 20px;
    border-color: #a3a3a3;
    opacity: 0.3;
  }

  .login-btn-wrapper::before {
    border-color: #a3a3a3;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    left: 0px;
    position: absolute;
    margin-left: 20px;

    /* These two lines vertically centre the point of the arrow */
    margin-top: 3px;
    top: 30%;

    /* The arrow sprints to the left when the link is hovered */
    transition: left 0.1s;

    transform: rotate( 45deg );
    -webkit-transform: rotate( 45deg );
}

.login-btn-wrapper::after {
    background: #a3a3a3;
    content: "";
    display: block;
    height: 2.5px;
    left: 20px;
    position: absolute;
    top: 47%;
    width: 18px;

    /* We need to animate the shaft too, to be able to look at a moving arrow */
    transition: left 0.1s;
}

.login-btn-container:hover::before,
.login-btn-container:hover::after {
    background: white;
    border-color: white;
}

/****LOGIN FINAL****/

/****LOGIN ROUTES****/
ul.login-routes {
    padding-inline-start: 0;
    display: flex;
    gap: 10px;
}

button {
    width: 91px;
    height: 31px;
    border-radius: 4px;
    border: 2.5px solid;
    padding-top: 4px;
    padding-bottom: 1px;
}

.button-fb {
    background-color: rgba(0, 51, 255,  0.841);
    border-color: rgba(2, 2, 254, 0.744);
}

.button-google {
    background-color: rgba(255, 255, 255, 0.841);
    border-color: rgba(218, 218, 218, 0.205);
}

.button-apple {
    background-color: rgba(0, 0, 0, 0.841);
    border-color: rgba(0, 0, 0, 0.744);
    padding-top:1.5px;
}

.fblogo,
.googlelogo,
.applelogo {
    width:16px;
}
/****LOGIN ROUTES****/


/***** CHECK BOX *****/

.stay-container {
    align-self: flex-start;
    margin-left: 40px;
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color:rgba(0, 0, 0, 0.896);
}

.stay-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #eee;
  }

/* On mouse-over, add a grey background color */
.stay-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

/* When the checkbox is checked, add a blue background */
.stay-container input:checked ~ .checkmark {
    background-color: #db0e0e;
  }  

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* Show the checkmark when checked */
.stay-container input:checked ~ .checkmark:after {
    display: block;
  }

/* Style the checkmark/indicator */
.stay-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/***** CHECK BOX *****/

/**** FOOTER ****/
.bottom-section {
    position: absolute;
    /* top: 675px; */
    bottom: 10px;
    left: 160px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10.5px;
}

.bottom-section > div {
    padding-top: 3px;
}

.version {
    position: relative;
    bottom: 15px;
    width: fit-content;
    left: 165px;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 0.7px;
    color: #ccc;
}

/**** FOOTER ****/