.menu-container {
  /* display: flex;
  justify-content:right; */
  position: absolute;
  right: 0px;
  top: 0px;
  font-family: "FF Mark", sans-serif !important;
}

/**** NAVMENU ****/
.nav-btn {
  display: none;
}

.nav-btn:hover {
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}
  
.active {
    opacity: 1;
    visibility: visible;
    /* transform: translateY(0); */
  }
/**** NAVMENU ****/

/**** DROPDOWN ****/
.dropdown-menu {
  background: rgb(28, 28, 28);
  position: absolute;
  top: 0px;
  right: 10.5vh;
  width: 190px;
  height: 130px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;
  /* visibility: hidden; */
  /* transform: translateY(-20px); */
  /* transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s; */
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
} 

.invis-menu {
    visibility: hidden;
}

.menu-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.menu-container > ul > li > button {
  opacity: 0.7;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-style: none;
  width: 150px;
  height: 25px;
  text-align: left;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 11px;
  cursor: pointer;
}

.menu-container > ul > li >  button:hover {
  opacity: 1;
  background-color: rgba(128, 128, 128, 0.10);
}

.menu-container > ul li .available-x {
  opacity: 0.2;
  pointer-events: none;
}

/**** DROPDOWN ****/

@media (min-width: 600px) {
  .nav-btn {
    display: initial;
    background-image: url('../assets/user1.png');
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 160px;
    min-width: 40px;
    min-height: 40px;
    width: 6.2vh;
    height: 6.2vh;
    top: 15px;
    right: 20px;
    border-radius: 2vh;
    opacity: 0.7;
    transition: opacity 0.4s ease;
    background-color: rgba(75, 75, 75, 60%);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 60%);
    cursor: pointer;
  }
}