/**** MODAL PANEL ****/

.invis-menu .settings-panel {
   visibility: visible;
   position: relative;
   top: 0;
   right:1000px;
   background-color: black;
   opacity: 0.7;
   width: 90vw;
   height: 60vh;
   pointer-events: none;
}

.settings-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background-color: black;
   opacity: 0.2;
}

.exit-btn {
   /* top:10px;
   right: 10px; */
   pointer-events: all !important;
   width: 20px;
   height: 20px;
   background-color: white;
   opacity: 0.5;
}

.overlay {
   position: fixed;
   inset: 0px;   
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(47, 47, 47, 0.6);
   z-index: 1000;
}

/* .modal-anim-enter-active .overlay{
   position: fixed;
   inset: 0px;   
   top: -30%;
   left: -30%;
   right: -30%;
   bottom: -30%;
   background-color: rgba(47, 47, 47, 0.6);
   z-index: 1000;
 } */
 
 .modal {
   position: fixed;        
   display: flex;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0 auto;
   background-color: rgb(17 14 14);
   padding: 50px;
   z-index: 1000;
   height: 70%;
   width: 80%;
   border-radius: 8px;
   
}

.modal-anim-enter {
   opacity: 0;
   position: fixed;
   /* transform: translate(-50%, -50%); */
   top: 70%;
   padding: 50px;
   height: 70%;
   width: 80%;
   margin: 0;
}

.modal-anim-enter-active {
   opacity: 1;
   position: fixed;
   top: 50%;
   left: 50%;
   padding: 10px;
   z-index: 1000;
   height: 70%;
   width: 80%;
   transition: all 600ms ease;
   margin: 0;   
}

.modal-close-btn {
   position: fixed;
   opacity: 0.85;
   top: 15px;
   right: 15px;
   padding: 10px;
   background-color: rgb(79 79 79 / 27%);
   border-radius: 6px;
   width: 34px;
   height: 34px;
   cursor: pointer;
   border: none;
}


.modal-close-btn::after {
   content: "\00d7";
   font-size: 25px;
   color: #fff;
   /* line-height: 0.7; */
   position: fixed;
   top: 18px;
   right: 24px;
}

.modal-close-btn:hover {
   opacity: 1;
}

.modal-container {
   display: flex;
   padding-right: 150px;
   width: 100%;
   min-width: 590px;
}
/**** MODAL PANEL ****/


/**** SETTINGS TAB ****/
.settings-tab-container {
   box-sizing: border-box;
   top: 0;
   left: 0;
   width: 25%,;
   height: 100%;
   z-index: 1000;
   font-family: "FF Mark", sans-serif;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.settings-tab-container > div {
   font-size: 25px; 
   color: rgb(247 247 247 / 87%) !important;
}

.settings-tab-container ul {
   list-style-type: none;
   font-size: 13px !important;
   padding-top: 30px;
   padding-left: 0;
}

.settings-tab-container ul .default {
   padding: 10px 0px 10px 15px;
   width: 200px;
   opacity: 0.3;
   cursor: pointer;
   background-color: transparent;
   border: none;
   border-radius: 6px;
   font-family: "FF Mark", sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   color: rgb(247 247 247 / 87%);
   text-align: start;
   letter-spacing: 0.5px;
}


.settings-tab-container ul .chosen {
   padding: 6px 0px 8px 15px;
   margin: 4px 0px 2px 0;
   width: 200px;
   opacity: 1;
   background-color: rgb(79 79 79 / 50%);
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-family: "FF Mark", sans-serif; 
   font-size: 14px;
   text-transform: uppercase;
   color: rgb(247 247 247 / 87%);
   text-align: start;
   letter-spacing: 0.5px;
}

.settings-tab-container .default:hover {
   opacity: 1;
}

.settings-tab-container .bottom {
   list-style-type: none;
   font-size: 11px;
   padding-top: 30px;
   padding-left: 0;
   line-height: 18px;
}

.bottom a:hover {
   color: #ffffffeb;
   opacity: 0.6;
}

.version-bottom {
   padding-bottom: 30px;
   color: rgb(255 255 255 / 15%);
   font-size: 12px;
}

/**** SETTINGS TAB ****/


/**** SELECT ****/
.select-label {
   color: #ffffffeb;
   font-size: 12px;
   line-height: 30px; /* Change this with a better method? */
}

.select-placement {
   font-family: "FF Mark", sans-serif !important;
}

.select-placement {
   width: 60%;
   margin-left: 50px;
}
/**** SELECT ****/


@media (max-width: 680px) {
   /* TEMP FIX  */
   .select-placement {
      position: fixed;
      top: 100px;
      left: 0;
      width: 60%;
   }
}