@font-face {
   font-family: "MarkW05-NarrowMedium";
   src: url("https://db.onlinewebfonts.com/t/cd7289a9fdf45fdef61c8d0839429b2d.eot"); /* IE9*/
   src: url("https://db.onlinewebfonts.com/t/cd7289a9fdf45fdef61c8d0839429b2d.eot?#iefix")
         format("embedded-opentype"),
      /* IE6-IE8 */
         url("https://db.onlinewebfonts.com/t/cd7289a9fdf45fdef61c8d0839429b2d.woff2")
         format("woff2"),
      /* chrome firefox */
         url("https://db.onlinewebfonts.com/t/cd7289a9fdf45fdef61c8d0839429b2d.woff")
         format("woff"),
      /* chrome firefox */
         url("https://db.onlinewebfonts.com/t/cd7289a9fdf45fdef61c8d0839429b2d.ttf")
         format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
         url("https://db.onlinewebfonts.com/t/cd7289a9fdf45fdef61c8d0839429b2d.svg#MarkW05-NarrowMedium")
         format("svg"); /* iOS 4.1- */
}

@font-face {
   font-family: "FF Mark";
   src: url("https://db.onlinewebfonts.com/t/54be3aa133abb31c88bdaa9e042481aa.eot"); /* IE9*/
   src: url("https://db.onlinewebfonts.com/t/54be3aa133abb31c88bdaa9e042481aa.eot?#iefix")
         format("embedded-opentype"),
      /* IE6-IE8 */
         url("https://db.onlinewebfonts.com/t/54be3aa133abb31c88bdaa9e042481aa.woff2")
         format("woff2"),
      /* chrome firefox */
         url("https://db.onlinewebfonts.com/t/54be3aa133abb31c88bdaa9e042481aa.woff")
         format("woff"),
      /* chrome firefox */
         url("https://db.onlinewebfonts.com/t/54be3aa133abb31c88bdaa9e042481aa.ttf")
         format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
         url("https://db.onlinewebfonts.com/t/54be3aa133abb31c88bdaa9e042481aa.svg#FF Mark")
         format("svg"); /* iOS 4.1- */
}

a {
   text-decoration: none;
   color: rgba(136, 136, 136, 0.662);
   font-weight: 800;
   cursor: pointer;
}

.bottom-section a:hover {
   color: black;
}

.form-main {
   /* font-family: 'Hind Siliguri', sans-serif; */
   font-family: "MarkW05-NarrowMedium", sans-serif;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #f6f6f6;
}

:root {
   --border-color-on: rgb(197 0 0);
   --border-color-off: #a3a3a3;
   --arrow-color-on: #fff;
   --arrow-color-off: #a3a3a3;
   --bg-color-on: rgb(197 0 0);
   --bg-color-off: rgba(255, 255, 255, 0);
   --btn-opacity: 0.3;
   --pointer-on: all;
   --inputfield-color: rgb(223 223 223 / 80%);
   --inputfield-error: #efb7f36e;
   --inputfield-border-color: transparent;
   --inputfield-border-error: #e3b4e3;
   --border-width: 0px;
   --inputfield-focus-color: #fff;
   --inputfield-focus-border: black;
   box-sizing: border-box;
}

/****TOP BOARD ****/
.logo-main {
   width: 115px;
   margin: 50px;
}

.sign-in {
   font-weight: 800;
}

/****TOP BOARD ****/

/****FORM****/
:focus-visible {
   outline: transparent;
}

.form-outer {
   width: 400px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   padding: 10px;
   align-items: center;
}

.form-group {
   position: relative;
   display: flex;
   flex-direction: column;
}

.form-innerwrap {
   max-height: 130px;
}

.form-group label {
   position: absolute;
   pointer-events: none;
   transform: translate(0, 23px) scale(1);
   transform-origin: top left;
   transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
   /* top: 0px; */
   left: 20px;
   font-size: 10.7px;
   font-weight: 800;
   padding-left: 8px;
   color: rgba(152, 152, 152, 0.91);
   text-transform: uppercase;
   font-family: "FF+Mark", sans-serif;
}

.form-group:focus-within label {
   transform: translate(-10px, 11px) scale(0.8);
}

.form-group .input,
.form-group .input--error  {
   font-family: "MarkW05-NarrowMedium", sans-serif;
   box-sizing: border-box;
   width: 295px;
   height: 49px;
   border-radius: 4px;
   margin: 8px;
   padding: 10px 10px 1px 10px;
   line-height: 1;
   font-size: 14px;
   font-weight: 700;
   outline: none;
   box-shadow: none;
   transition: 100ms cubic-bezier(0, 0, 0.2, 1) 0ms;
   opacity: 0.8;
}

.form-group .input {
   border: var(--border-width) solid var(--inputfield-border-color);
   background-color: var(--inputfield-color);
}

.form-group .input:hover,
.form-group .input--error:hover  {
   opacity: 1;
}

.form-group .input--error {
   border: 2px solid var(--inputfield-border-error);
   background-color: var(--inputfield-error);
}

/* .form-group:focus-within input {
    background-color:var(--inputfield-focus-color);  
    border: 2px var(--inputfield-focus-border) solid;
} */

.form-group .input:focus{
   background-color: var(--inputfield-focus-color);
   border: 2px var(--inputfield-focus-border) solid;
}

.form-group .input:active {
   background-color: var(--inputfield-focus-color);
   border: 2px var(--inputfield-focus-border) solid;
}

.form-group .input--error{
   background-color: var(--inputfield-error);
   border: 2px var(--inputfield-border-error) solid;
}

.form-group .input--error:active {
   background-color: var(--inputfield-error);
   border: 2px var(--inputfield-border-error) solid;
}

.form-group .Active {
   transform: translate(-10px, 11px) scale(0.8);
}

.toggle-wrapper {
   position: relative;
   top: -40px;
   left: 265px;
}

.toggle-btn {
   /* top: 305px;
   left: 313px; */
   width: 28px;
   height: 22px;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.toggle-btn-show {
   background-image: url(/src/assets/eyeshow.svg);
   background-size: 65%;
   background-repeat: no-repeat;
}

.toggle-btn-hide {
   background-image: url(/src/assets/eyehide.svg);
   background-repeat: no-repeat;
   background-size: 65%;
   top: 304px;
}

.invis-btn {
   opacity: 0;
   z-index: -100;
   position: absolute;
   top: 0;
   left: 0;
   border-color: transparent;
}

.error-box {
   position: absolute;
   background: white;
   top: 130px;
   left: 54px;
   width: 240px;
   padding-top: 23px;
   padding: 23px 30px 10px 30px;
   height: 43px;
   z-index: 10;
   text-align: center;
   font-weight: 800;
   color: rgb(188, 14, 188);
   font-size: 12px;
   border-radius: 6px;
}

.error-box::after {
   content: "";
   width: 0px;
   height: 0px;
   position: absolute;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 12px solid #fff;
   border-bottom: 10px solid transparent;
   right: 46%;
   bottom: -18px;
}

.error-shadow::before {
   content: "";
   z-index: 0;
   position: absolute;
   top: 140px;
   right: 0;
   bottom: 0;
   left: 45px;
   width: 300px;
   height: 57px;
   background: linear-gradient(to top left, #070707 0%, #a3a3a3 50%);
   opacity: 0.7;
   -webkit-filter: blur(30px);
   -moz-filter: blur(30px);
   -ms-filter: blur(30px);
    filter: blur(30px);
}

/****FORM****/

/****LOGIN ROUTES****/
ul.login-routes {
   padding-inline-start: 0;
   display: flex;
   gap: 10px;
}

ul.login-routes button {
   width: 91px;
   height: 31px;
   border-radius: 4px;
   border: 2.5px solid;
   padding-top: 4px;
   padding-bottom: 1px;
   border-color: #a3a3a321;
}

.button-fb {
   background-color: rgba(0, 51, 255, 0.841);
   border-color: rgba(2, 2, 254, 0.744);
}

.button-fb:hover {
   background-color: rgb(1, 48, 235);
   border-color: rgb(2, 2, 254);
   cursor: pointer;
}

.button-google {
   background-color: rgba(255, 255, 255, 0.841);
   border-color: rgba(218, 218, 218, 0.205);
}

.button-google:hover {
   background-color: rgba(248, 248, 248, 0.84);
   cursor: pointer;
}

.button-apple {
   background-color: rgba(0, 0, 0, 0.841);
   border-color: rgba(0, 0, 0, 0.744);
   padding-top: 1.5px !important;
}
.button-apple:hover {
   background-color: rgba(0, 0, 0, 0.79);
   cursor: pointer;
}

.fblogo,
.googlelogo,
.applelogo {
   width: 16px;
}
/****LOGIN ROUTES****/

/***** CHECK BOX *****/

.stay-container {
   align-self: flex-start;
   margin-left: 40px;
   display: block;
   position: relative;
   padding-left: 28px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 14px;
   font-weight: 600;
   letter-spacing: 0.3px;
   color: rgba(0, 0, 0, 0.896);
}

.stay-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   border-radius: 5px;
   background-color: #eee;
}

/* On mouse-over, add a grey background color */
.stay-container:hover input ~ .checkmark {
   background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.stay-container input:checked ~ .checkmark {
   background-color: #db0e0e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.stay-container input:checked ~ .checkmark:after {
   display: block;
}

/* Style the checkmark/indicator */
.stay-container .checkmark:after {
   left: 7px;
   top: 3px;
   width: 4px;
   height: 8px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

/***** CHECK BOX *****/

/****LOGIN FINAL****/
.case1 {
   bottom: 80px;
}

.login-btn-container {
   /* pointer-events: var(--pointer-on); */
   /* top: 590px; */
   margin: auto auto 40px auto;
}

.login-btn--on {
   width: 54px;
   height: 54px;
   border: 3px solid;
   border-radius: 20px;
   pointer-events: var(--pointer-on);
   opacity: calc(var(--btn-opacity) * 3);
   border-color: var(--border-color-on);
   background: var(--bg-color-on);
   cursor: pointer;
}

.login-btn--off {
   width: 54px;
   height: 54px;
   border: 3px solid;
   border-radius: 20px;
   pointer-events: none;
   opacity: var(--btn-opacity);
   border-color: var(--border-color-off);
   background: var(--bg-color-off);
}

.login-btn--on::before,
.login-btn--off::before {
   /* Arrow Head */
   pointer-events: var(--pointer-on);
   border-style: solid;
   border-width: 3px 3px 0 0;
   content: " ";
   display: block;
   height: 12px;
   width: 12px;                 
   left: 8%;
   position: relative;
   margin-left: 10px;
   top: 0%;

   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
}

.login-btn--on::before
{
   border-color: var(--arrow-color-on);
}
.login-btn--off::before{
   border-color: var(--arrow-color-off);
   pointer-events: none;
}

.login-btn--on::after,
.login-btn--off::after {
   /* Shaft of the arrow */
   pointer-events: var(--pointer-on);
   content: "";
   display: block;
   height: 3px;
   position: relative;
   width: 18px;
   bottom: 17%;
   left: 25%;
}

.login-btn--on::after
{
   background: var(--arrow-color-on);
}
.login-btn--off::after{
   background: var(--arrow-color-off);
   pointer-events: none;

}

/* .login-btn--on:hover
.login-btn--on:hover::before,
.login-btn--on:hover::after {
   opacity: 1;
} */

.login-btn--on:hover {
   opacity: 1;
}

/****LOGIN FINAL****/

/**** FOOTER ****/
.bottom-section {
   display: flex;
   flex-direction: column;
   bottom: 10px;
   left: 160px;
   text-transform: uppercase;
   text-align: center;
   font-size: 10px;
   /* font-family: "FF+Mark", sans-serif; */
   font-family: "MarkW05-NarrowMedium", sans-serif;
   letter-spacing: 1px;
   opacity: 0.8;
}

.bottom-section > nav {
   padding-bottom: 40px;
}

.bottom-section > nav > ul {
   padding-top: 3px;
   padding-left: 0;
   margin: 0;
}
.bottom-section > nav > ul > li {
   list-style-type: none;
}

.version {
   position: relative;
   bottom: 10px;
   width: fit-content;
   left: 315px;
   font-size: 10px;
   font-weight: 800;
   letter-spacing: 1.5px;
   color: #ccc;
}

/**** FOOTER ****/
