html {
  box-sizing: border-box;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
}

/* Basic Layout */
.logoimg {
    max-width: 100px;
}

/* Carousel features */

.slider-header {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
}

.slider {
    margin-top: 100px;
}

.slider-container {
  height: 420px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  font-size: 0;
  touch-action: none;
}

.card.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.card:nth-child(1) 
{ margin: 0 2px 0 0;}

.card {
  margin: 0 2px;
  width: 340px;
  display: inline-flex;
}


/* Product Image */

/* .card {
  display: flex;
  min-width: fit-content;
} */

.products {
  width: 100%;
}

.caption-wrapper {
    padding: 0 20px 0 25px;
    white-space: normal;
    position: absolute;
}

.caption {
 width: 300px;
  position: relative;
  top: 330px;
  font-size:2rem;
  font-weight: 100;
}
